.vocab-level {
  margin: 40px 0;
  display: flex;
  gap: 20px;
  .column {
    width: 60px;
    height: 120px;
    border-radius: 16px 16px 0 0;
    position: relative;
    p {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      font-weight: bold;
      font-size: 24px;
    }
  }
  .column-level-1 {
    background-color: rgb(235, 87, 87);
  }
  .column-level-2 {
    background-color: rgb(255, 203, 8);
  }
  .column-level-3 {
    background-color: rgb(86, 204, 242);
  }
  .column-level-4 {
    background-color: rgb(47, 128, 237);
  }
  .column-level-5 {
    background-color: rgb(33, 55, 130);
  }
}